header {
    min-height: 173px;
    background-color: #C1EFFE;
}
header .inner {
    justify-content: space-between;
    align-items: center;
}
header .inner nav ul {
    display: flex;
    gap: 37px;
    list-style: none;
}
header .inner nav ul li a {
    font-size: 32px;
    color: #000000;
}
header .inner nav ul li a:hover {
    color: #00469c;
} 