#projects {
    background-color: #C1EFFE;
}
#projects .inner {
    row-gap: 71px;
    column-gap: 168px;
    padding: 81px 0 72px;
}
#projects .inner h2 {
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}
#projects .inner .item {
    width: 100%;
    max-width: 369px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}
#projects .inner .item p {
    text-align: center;
    font-size: 26px;
    color: #000000;
}